.vl {
    border-left: 1px solid rgb(217 217 217);
    height: 800px;
}
table td input {
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
}
body {
    color: #505050;
}
.graded{
    color: rgb(58, 66, 175);
}
h6 .submitted{
    color: green;
}
h6 .missing{
    color: rgb(172, 16, 16);
}
h6 .late{
    color: rgb(218, 205, 27);
}
.submitted h1 {
    color: green;
}
.submitted h6{
    color: green;
}
.missing h1{
    color: rgb(172, 16, 16);
}
.missing h6{
    color: rgb(172, 16, 16);
}
.late h1{
    color: rgb(218, 205, 27);
}
.late h6{
    color: rgb(218, 205, 27);
}
.graded h1{
    color: rgb(58, 66, 175);
}
.graded h6 .graded{
    color: rgb(58, 66, 175);
}
.table td{
     vertical-align: middle;
}
.my-custom-scrollbar {
    position: relative;
    height: 540px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
}

.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px
}

.comment-text:hover {
    visibility: hidden
}

.comment-text:hover {
    visibility: visible
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%
}

.round img {
    border-radius: 100%
}

.label-info {
    background-color: #1976d2
}

.label-success {
    background-color: green
}

.label-danger {
    background-color: #ef5350
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4
}

.action-icons a:hover {
    color: #1976d2
}

.pt-20 {
    padding-top: 20px
}

.pb-50 {
    padding-bottom: 50px
}

@media only screen and (max-width: 992px) {
    .v{
        height: auto;
        border-left: 0px;
    }
}



